/****************************************/
/************ global styling ************/
/****************************************/
body {
  background: #FDFEFF;
  font-family: 'Jura', sans-serif;
  font-weight: 800;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased; 
}

.container {
  margin-top: 30px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.p-border {
  width: 15%;
  float: left;
}

.left-column a {
  font-size: 1.3em;
  color: inherit;
  font-style: italic;
  font-weight: 600; 
}

.left-column a:hover {
  color: #58963C;
}

.left-column p {
  // text-align: justify;
  margin-bottom: 3px;
  font-weight: 700;
}

p.make-bold {
  font-weight: 400;
  font-size: 16px;
}

.right-column p {
  text-align: justify; 
  font-size: 1.2em;
  font-weight: 500;
  letter-spacing: .1px;
}

h1 {
  font-size: 3.5em;
  margin-bottom: 0.1em;
  font-weight: 500;
}

h2 {
  font-weight: 100;
  font-size: 1.5em;
}

h3 {
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  border-bottom: dashed 3px #CCCCCC;
  padding-bottom: 10px;
  margin-bottom: 40px;
}

.projects-container .second-project {
  margin: 40px auto;
}

.education-container .second-project {
  margin: 40px auto;
}

h4 {
  font-weight: 600;
  font-size: 1.8em;
  margin-bottom: 3px;
}

/****************************************/
/*********** header container ***********/
/****************************************/

/** Header Left Styling **/
.header-container {
  margin-top: 50px;
}

.header-left {
  margin-top: 30px;
}

.header-left h2 {
  margin-top: -10px
}

/** ---------------------------- **/

/** Header Right Styling **/
.header-container p {
  font-size: 1em;
  text-align: right;
  margin-bottom: 3px;
  margin-right: 0px;
  font-weight: 400;
}

.card {
  width: 300px;
  text-decoration: none;
  border: none;
  margin: auto;
}

.header-container a:hover {
  color: #58963C;
}

.header-container a {
  color: inherit;
  font-weight: 700;
}

/** ---------------------------- **/

/** Social Media Icon Styling **/
.icons li {
  display: inline-block;
  margin: 10px 8px;
  margin-left: 10px;
  float: left;
}

.icons {
  padding: 0;
  font-size: 1em;
  margin-bottom: 20px;
}

.social-network a.iconGithub:hover {
	background-color: #000000;
}

.social-network a.iconLinkedin:hover {
	background-color:#1476B1;
}

.social-network a.iconTwitter:hover {
	background-color:#2A9FEF;
}

.social-network a.iconFacebook:hover {
	background-color:#4567AE;
}

.social-network a.iconReddit:hover {
	background-color:#FD4C26;
}

a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	-moz-border-radius: 40%;
	-webkit-border-radius: 40%;
	border-radius: 40%;
	text-align: center;
	width: 50px;
	height: 50px;
	font-size: 20px;
	background-color: #696969;
}

.social-circle li i {
	margin: 0;
	line-height: 50px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(1080deg);
	-webkit-transform: rotate(1080deg);
	-ms--transform: rotate(1080deg);
	transform: rotate(1080deg);
	-webkit-transition: all 1.4s;
	-moz-transition: all 1.4s;
	-o-transition: all 1.4s;
	-ms-transition: all 1.4s;
	transition: all 1.4s;
}

.social-circle i {
	color: #fff;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}

/****************************************/
/************ page content **************/
/****************************************/

.profile-img {
  width: 220px;
  height: 220px;
  margin: 0 auto;
  margin-bottom: 20px;
  // filter: grayscale(100%);
  display: block;
  border-radius: 100px;
  background-size: cover;
  background-position: center;
  background-repeat: repeat, no-repeat;
  -moz-box-shadow: inset 0 0 20px #636161;
  -webkit-box-shadow: inset 0 0 20px #636161;
  box-shadow: inset 0 0 20px #636161;
}

mark {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: #333;
  -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,0.25);
  box-shadow: inset 0 -1px 0 rgba(0,0,0,0.25);
}

/********** Projects **********/ 
.fa {
  display: inline-block;
  font-size: 1.6em;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p.quote {
  font-size: 1em;
  font-style: italic;
  font-weight: 800;
  padding: 0px 50px;
}

ol, ul {
  margin-top: 0;
  margin-bottom: 10px;
}

/********** Footer **********/ 
.footer-container {
  margin-top: 80px;
}

p {
  margin: 0 0 0.75em;
}

.footer-container p {
  text-align: center;
  font-style: italic;
  font-weight: 300;
}

.footer-container a {
  color: inherit;
  font-style: italic;
  font-weight: 300;
}

.footer-container a:hover {
  color: #58963C;
}

/****************************************/
/************ Media Queries *************/
/****************************************/

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px) { 

  .header-container {
    width: 100%;
    margin: 50px auto;
  }

  .header-left h1 {
    letter-spacing: -1px;
  }

  .header-left {
    text-align: center;
  }

  .header-right .icons li {
    display: inline-block;
    left: 20px;
  }

  .header-left h2 {
    margin-top: -10px
  }

  .intro-container {
    margin: -30px auto;
  }

  .projects-container {
    margin: 50px auto;
  }
}


/******************************************/
// Small devices (landscape phones, less than 768px)
@media (max-width: 767.98px) { 

  .header-left h1 {
    letter-spacing: -1px;
  }

  .intro-container {
    margin: -20px auto;
  }

  .header-container {
    width: 100%;
    margin: 50px auto;
  }

  .header-left {
    text-align: center;
  }

  .header-left h2 {
    margin-top: -10px
  }

  .icons li {
    position: relative;
    left: 100px;
    bottom: 55px;
    margin: -40px auto;
    padding: 10px;
  }

  .header-right .card p {
    position: relative;
    text-decoration: none;
    border: none;
    margin: 1px auto;
    
  }
  .header-left {
    margin-top: 0px;
  }
}

// Medium devices (tablets, less than 992px)
@media (max-width: 991.98px) {

  .header-left h1 {
    letter-spacing: -1px;
  }

  .header-left h2 {
    margin-top: -10px
  }
  
  .icons li {
    display: inline-block;
    margin-top: 60px;
  }

  .card {
    width: 300px;
    text-decoration: none;
    border: none;
    margin: auto;
  }

  .profile-img {
    margin: 0 auto;
    margin-bottom: 30px;
  }

  .right-column {
    text-align: center;
  }
}

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 

  .icons li {
    display: inline-block;
    padding-left: .2em;
    float: left;
  }

  .card {
    width: 300px;
    text-decoration: none;
    border: none;
    margin: auto;
  }
}


/******************************************/